#advisor-page::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    filter: brightness(45%);
    background-image: url("../image/bg-advisor.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

#advisor-page {
    min-height: calc(100vh - 60px);
    height: 100%;
	width: 100%;
	text-align: left;
	position: relative;
	border-bottom: 1px solid #15191d;

    & .title {
        padding-top: 14%;
        padding-left: 5%;
        display: block;
        position: relative;
        float: left;
        font-size: 49px;
        letter-spacing: 0.08rem;
        overflow: hidden;
        animation: fade 1.5s;

        & h1 {
            color: #ffffff;
            & span {
                color: #ffffff;
                display: inline-block;
	            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            }
        }

        @media (max-width: 811px) {
            font-size: 36px;
        }

        @media (max-width: 461px) {
            font-size: 28px;
        }

        @media (max-width: 372px) {
            font-size: 20px;
        }
    }
}

#advisor {
    background-color: #000000;
    height: 150%;
	width: 100%;
	border-bottom: 1px solid #15191d;

    & .header {
        display: flex;
        justify-content: center;
        align-items: center; 
        padding: 10vh 0 15vh 0;
        
        & h1 {
            font-size: 49px;
            color: #ffffff;

            @media (max-width: 416px) {
                font-size: 36px;
            }
        }
    } 

    & .grid-container {
        display: grid;
        align-items: center;
        justify-content: space-around;
        row-gap: 5rem;
        padding: 5% 5% 10% 5%;
        grid-template-areas: "image info";

        @media (max-width: 811px) {
            grid-template-areas: 
                "image"
                "info"
        }

        & .image {
            grid-area: image;
            align-items: center;
            justify-content: center;
            display: flex;

            & img {
                width: 300px;
                height: auto;

                @media (max-width: 811px) {
                    width: 250px;
                }
            }
        }      
        
        & .container-text-1 {
            grid-area: info;
            
            & .info {
                padding-bottom: 5vh;
            }
        }

        & .info .title {
                font-size: 32px;
                font-weight: 800;
                letter-spacing: 0.08rem;
                padding: 0 0 1vh 0;
        }

        & .text li {
            padding-bottom: 2%;
        }
    }
}    