@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
    color: #575859;

    & a {
        text-decoration: none;
    }

    & li {
        list-style: none;
    }
}

/* navbar */
header {
    & nav {
        background-color: #000000;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 36px;
        height: 60px;

        & .logo {
            font-size: 1.4rem;
        }

        & ul {
            display: flex;
            align-items: center;
            
            @media (max-width: 811px) {
                flex-direction: column;
            }

            & li {
                padding: 0px 36px;

                & :hover {
                    color: rgba(256, 256, 256, 0.8);
                }

                @media (max-width: 811px) {
                    padding: 5px 0px;
                }
            }
        }

        @media (max-width: 811px) {
            flex-direction: column;
            height: auto;
        }
    }
}

footer {
    background-color: #15191d;
    width: 100%;
    height: 100%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* animation */
@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(10%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}