@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Roboto:ital,wght@1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    scroll-behavior: smooth;
}

* a {
    text-decoration: none;
}

body {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
}

.navBar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    height: 15dvh;
    top: 0;
    position: fixed;
    padding: 0% 10%;
    z-index: 1;
    background-color: #002;
}

.navBar ul {
    display: flex;
    align-items: center;
}

.navBar ul li {
    padding: 25px;
    list-style: none;
}

.navBar ul li a{
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.navBar .logo a {
    font-size: 1.8rem;
    color: #fff;
}

.navBar ul li:hover {
    transition: 0.3s;
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1)
}

/* h1 {
    background: rgb(47,183,215);
    background: linear-gradient(37deg, rgba(47,183,215,1) 0%, rgba(64,98,187,1) 100%);
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
} */

.container {
    position: relative;
    top: 50px;
    height: 100dvh;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.grid-col-1 {
    padding: 1rem;
    margin: 1rem;
}

img {
    margin-bottom: 50px;
    border-radius: 5px;
}

.contact {
    margin-bottom: 50px;
}

ul {
    list-style-position: inside;
    list-style-type: square;
}

.grid-col-2 {
    padding: 1rem;
    margin: 1rem;
}

video {
    margin-bottom: 40px;
    border-radius: 5px;
}

.about-me {
    margin-bottom: 25px;
}

h2:hover {
    color: rgb(8,55,255);
    background: -webkit-linear-gradient(180deg, rgba(8,55,255,1) 13%, rgba(78,147,254,1) 78%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}