@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Roboto:ital,wght@1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

body {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
}

h1 {
    background: rgb(47,183,215);
    background: linear-gradient(37deg, rgba(47,183,215,1) 0%, rgba(64,98,187,1) 100%);
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
}

.container {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.grid-col-1 {
    padding: 1rem;
    margin: 1rem;
}

img {
    margin-bottom: 50px;
    border-radius: 5px;
}

.contact {
    margin-bottom: 50px;
}

ul {
    list-style-position: inside;
    list-style-type: square;
}

.grid-col-2 {
    padding: 1rem;
    margin: 1rem;
}

video {
    margin-bottom: 40px;
    border-radius: 5px;
}

.about-me {
    margin-bottom: 25px;
}

h2:hover {
    color: rgb(8,55,255);
    background: -webkit-linear-gradient(180deg, rgba(8,55,255,1) 13%, rgba(78,147,254,1) 78%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}